<mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile class="background">
        <!-- Backgrund -->
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-list cols="1">
        <form [formGroup]=formGroup>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Placeholder" formControlName="identity">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder" type="password" formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </p>
            <p style="float:right">
              <button mat-raised-button color="primary" (click)="login(formGroup.value)">
                Login
              </button>
            </p>
        </form>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
  