<form [formGroup]="formGroup">
    <mat-card>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>NIP</mat-label>
                    <input matInput placeholder="Wajib Diisi" formControlName="nip">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nama Pegawai</mat-label>
                    <input matInput placeholder="Wajib Diisi" formControlName="full_name">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nama Panggilan</mat-label>
                    <input matInput placeholder="Wajib Diisi" formControlName="nick_name">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
            </div>
        <div class="example-container">
            <mat-form-field appearance="outline">
                <mat-label>Tanggal Lahir</mat-label>
                <!-- <input matInput placeholder="Wajib Diisi">
                <mat-icon matSuffix>account_circle</mat-icon> -->
                <input matInput [matDatepicker]="picker" formControlName="birth_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Alamat</mat-label>
                <input matInput placeholder="Wajib Diisi" formControlName="address">
                <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>No Telephone</mat-label>
                <input matInput placeholder="Wajib Diisi" formControlName="phone">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput placeholder="Wajib Diisi" formControlName="mobile">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input matInput placeholder="Wajib Diisi" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
        <div class="action">
            <button mat-raised-button color="accent">
                Batal
            </button>
            <button mat-raised-button color="primary" *ngIf="employeeId == null" (click)="store(formGroup.value)">
                Simpan
            </button>
            <button mat-raised-button color="primary" *ngIf="employeeId != null" (click)="update(employeeId, formGroup.value)">
                Simpan
            </button>
        </div>
    </mat-card>
</form>