<mat-card>
    <div class="menu">
        <div class="btn-add">
            <button mat-fab color="primary" (click)="create()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="filter">
            <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Wajib Diisi" (keyup)=filter($event) #input >
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <mat-table [dataSource]="data" matSort class="table">
        <!-- Column Number -->
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
            <mat-cell *matCellDef="let item of data; let i = index">
                {{ i + 1}}
            </mat-cell>
        </ng-container>
        <!-- End Column Number -->
        <!-- Column Name -->
        <ng-container matColumnDef="nip">
            <mat-header-cell *matHeaderCellDef mat-sort-header>NIP</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let item">
                {{ item.nip }}
            </mat-cell>
        </ng-container>
        <!-- End Column Name -->
        <!-- Column Agent -->
        <ng-container matColumnDef="full_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Lengkap</mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.full_name }}
            </mat-cell>
        </ng-container>
        <!-- End Column Agent -->
        <!-- Column From  -->
        <ng-container matColumnDef="nick_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Panggilan</mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.nick_name }}
            </mat-cell>
        </ng-container>
        <!-- End Column From -->
        <!-- Arrive Column -->
        <ng-container matColumnDef="birth_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal Lahir</mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.birth_date}}
            </mat-cell>
        </ng-container>
        <!-- End Arrive Column -->
        <!-- Terminal Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Alamat</mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.address }}
            </mat-cell>
        </ng-container>
        <!-- End Terminal Column -->
        <!-- Status Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No Telephone</mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.phone }}
            </mat-cell>
        </ng-container>
        <!-- End Status Column -->
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header>HP</mat-header-cell>
            <mat-cell *matCellDef="let item">
               {{ item.mobile }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.email }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Aksi</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_horizontal</mat-icon>
                </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/employee/',item.id,'detail']">
                            <mat-icon>visibility</mat-icon>
                            <span>Ubah</span>
                        </button>
                        <button mat-menu-item (click)="delete(item.id)">
                            <mat-icon>delete</mat-icon>
                            <span>Hapus</span>
                        </button>
                    </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row [@rowsAnimation] *matRowDef="let row; columns: displayedColumns;"></tr> -->
    </mat-table>
    <div class="info">
        <span *ngIf="this.filterStatus == true">Ooopss Data Tidak Ditemukan</span>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
